extends layout


block content
  #container
    form(method='post', action='')
      .row
        .span3
          .control-group
            label(for='ActivityName')=t('app.ActivityName')
            .controls
              input(type='text', name='activityname', id='ActivityName')
          .control-group
            label(for='ActivityBrief')=t('app.ActivityBrief')
            .controls  
              input(type='text', name='activitybrief', id='ActivityBrief')
          .control-group
            label(for='Location')=t('app.Location')
            .controls
              input(type='text', name='location', id='Location')
        .span3
          .control-group
            label(for='PhotoID')=t('app.PhotoID')
            .controls
              input(type='text', name='photoid', id='PhotoID')
          .control-group
            label(for='StartDate')=t('app.StartDate')
            .controls
              input(type='text', name='startdate', id='StartDate')
          .control-group
            label(for='EndDate')=t('app.EndDate')
            .controls
              input(type='text', name='enddate', id='EndDate')
      .row
        .span6
          .control-group
            label=t('app.Workgroup')
            .controls
              each workgroup in workgroups
                label.checkbox.inline  
                  input(type='checkbox', class='workgroup', value=workgroup)
                  =workgroup
          .control-group
            label=t('app.Participant')
            .controls
              each participant in participants
                - if (participant == '其他')
                  label.checkbox.inline 
                    input(type='checkbox', class='participant', id='other', value=participant)
                    =participant
                  input(type='text', id='inputother', class='participant')
                - else
                  label.checkbox.inline
                    input(type='checkbox', class='participant', value=participant)
                    =participant
          .control-group
            label=t('app.Description')
            .controls
              textarea(rows='6', name='description')
          .control-group
            label(for='FileLink')=t('app.FileLink')
            .controls
              input(type='text', name='filelink', id='FileLink')
          .form-actions
            a(id='submit', class='btn btn-primary') 儲存
            a(class='btn reset') 重設
            .msg

block scripts
  script(type='text/javascript', src='/javascripts/photo.js')