form(method='post', action='')
  .row
    .span6
      .control-group
        label(for='VideoName')=t('app.VideoName')
        .controls
          input(type='text', name='videoname', id='VideoName')
      .control-group
        label(for='VideoID')=t('app.VideoID')
        .controls  
          input(type='text', name='videoid', id='VideoID')
      .control-group
        label(for='VideoLength')=t('app.VideoLength')
        .controls
          input(type='text', name='videolength', id='VideoLength')
      .control-group
        label(for='Location')=t('app.Location')
        .controls
          input(type='text', name='location', id='Location')
      .control-group
        label=t('app.Workgroup')
        .controls
          each workgroup in workgroups
            label.checkbox.inline  
              input(type='checkbox', class='workgroup', value=workgroup)
              =workgroup
      .control-group
        label=t('app.Participant')
        .controls
          each participant in participants
            - if (participant == '其他')
              label.checkbox.inline 
                input(type='checkbox', class='participant', id='other', value=participant)
                =participant
              input(type='text', id='inputother', class='participant')
            - else
              label.checkbox.inline
                input(type='checkbox', class='participant', value=participant)
                =participant  
      .control-group
        label=t('app.TimeCode')
        .controls
          textarea(rows='6', name='timecode')
      .control-group
        label(for='FileLink')=t('app.FileLink')
        .controls
          input(type='text', name='filelink', id='FileLink')
      .form-actions
        input(type='submit', class='btn btn-primary')
        a(class='btn') 重設